body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial;
}
h1 {
    color: #F9FAF8;
}
#container_header{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#image_header{

    background-color: #9c9ea1;
    padding-top: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#secondary-text{
    color: #E5E7EB;
}
#first_button {
    background-color: #3882F6;
    color: #FFF;
    padding: 5px 20px;
    border: none;
    border-radius: 7px;
}
header {
    margin: 0;
    padding: 0;
    width: 75%;
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}
.nav {
    padding-right: 5%;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2{
    color: #F9FAF8;
    margin-right: auto;
}
a {
    text-decoration: none;
}
a:link {
    color: #E5E7EB;
}
a:visited {
    color: #E5E7EB;
}
/*1section*/

#info {
    color: #1f2937;
    text-align: center;
    font-weight: bold;
    font-size: 36px;

}
#container_img {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 75%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    gap: 8px;
}
.img_and_text{
    margin-right: 2,5%;
    margin-left: 2.5%;
}
.img {
    padding: 5%;
    border: 3px solid #3882F6;
    width: 85%;
    height: 85%;
    border-radius: 15px;
    
}
.text {
    color: #1f2937;
}
#container_testimonial{
    margin-top: 5%;
    padding-top: 5%;
    background-color: #a8a9aa;
    width: 75%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2.5%;
}
#testimonial{
    font-style: italic;
    font-size: 26px;
    color: #45474b;
    display: flex;
    justify-content: center;
}
#name{
    padding-left: 25%;
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-weight: bold;
}

#call_to_action{
    background-color: #3882F6;
    margin-top: 5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 1% 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}
#second_button{
    background-color: #3882F6;
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 7px;
    padding: 2.5px 20px;
}